<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button  (click)="snav.toggle()"><i class="fas fa-bars"></i></button>
    <h1 class="example-app-name">NEWS FEED</h1>

    <div class="search-box">
      <input id="searchInput" type="text" [formControl]="news" placeholder="Search for topics..">
      <button routerLink="/search" (click)="submitSearch(news.value)" type="submit"><i id="fas-search" class="fas fa-search"></i></button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/search" (click)="snav.close()"><i class="fas fa-search"></i>Search</a>
        <a mat-list-item routerLink="/top-headlines" (click)="snav.close()"><i class="fas fa-star"></i>Top Headlines</a>
        <a mat-list-item routerLink="/united-kingdom" (click)="snav.close()"><i class="fas fa-globe-europe"></i>United Kingdom</a>
        <a mat-list-item routerLink="/technology" (click)="snav.close()"><i class="fab fa-nintendo-switch"></i>Technology</a>
        <a mat-list-item routerLink="/health" (click)="snav.close()"><i class="fas fa-weight"></i>Health</a>
        <a mat-list-item routerLink="/sports" (click)="snav.close()"><i class="fas fa-volleyball-ball"></i>Sports</a>
        <a mat-list-item routerLink="/science" (click)="snav.close()"><i class="fas fa-atom"></i>Science</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
