<div class="search-box">
  <input id="searchInput" type="text" (keyup.enter)="submitSearch(news.value)" [formControl]="news" placeholder="Search for topics..">
  <button routerLink="/search" (click)="submitSearch(news.value)" type="submit"><i class="fas fa-search"></i></button>
</div>

<div class="container" *ngFor="let n of search">
  <div class="card mb-5" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{n.urlToImage}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{n.title}}</h5>
          <p class="card-text"><small class="text-muted">Source: {{n.source.name}}, {{n.publishedAt |  date:'medium'}}</small></p>
          <a href="{{n.url}}" target="_blank">Read full coverage</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hide" id="nothing-found">
  <img  src="https://j.gifs.com/ERlPM4.gif" (click)="toggleHide()">
</div>
